:root {
  --primary: #050508;
  --secondary: #22273c;
  --variant: #53598d;
  --text: #bbbbbb;
  --title: #fbfbfb;
  --placeholder: #6f6f6f;
  --danger: #ff2020;
  --success: #41db7f;
  --onSuccess: #050508;
  --warning: #c7cf4b;
  --link: #0089ff;
  --male: #1151e7;
  --female: #fd8499;
}

* {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
  color: var(--text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 14px;
  background: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title);
}

button {
  background: transparent;
  cursor: pointer;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

/* for IE10 */
select::-ms-expand {
  display: none;
}

textarea {
  min-height: 100px;
  resize: none;
}

label {
  padding-top: 0.5rem;
  display: block;
  position: relative;
}

select,
textarea,
input {
  background: var(--primary);
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid var(--secondary);
  border-radius: 4px;
  color: var(--title);
}

input:focus {
  border-color: var(--variant);
  background: var(--secondary);
}

input::placeholder {
  color: var(--placeholder);
}

small {
  color: var(--warning);
}

a {
  text-decoration: none;
  color: var(--link);
}

.link {
  color: var(--link);
}

.success {
  color: var(--success);
}

.danger {
  color: var(--danger);
}

.warning {
  color: var(--warning);
}

.title {
  color: var(--title);
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--variant);
}
